body {
  background-image: url(cheese.PNG);
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: Arial;
  font-weight: 100;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-under {
  color: white;
  background: black;
}
